# Helen Hammond's Module 4 Project

1. See the text Ch 7.14.2.
2. For more complex data, we can use a DataFrame. In a DataFrame, each value is a Series of numbers.
3. We can use a two-dimensional DataFrame to handle many  exam scores for each key/student.
4. Create a new notebook to practice using DataFrames.
5. Name the notebook yourname_2.ipynb.
6. Use your Markdown skills to add a customized title to your notebook. 
7. Use Markdown heading for each section below.

## Task 1 - Create DataFrame

1. Follow the instructions in 7.14.2 to import pandas as pd and create a pandas DataFrame from a dictionary (a set of key-value pairs) holding multiple exam scores for each key/student. In this example, we have 5 students, each with 3 exam scores, but the scores aren't labeled.

Import pandas module

In [65]:
import pandas as pd

Create a pandas DataFrame from a dictionary

In [66]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90], 'Sam': [94, 77, 90], 'Katie': [100, 81, 82],'Bob': [83, 65, 85]}

Display the grades

In [67]:
grades = pd.DataFrame(grades_dict)
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

## Task 2 - Custom Index

1.	Follow the instructions to apply a custom index (instead of 0,1,2), let's call them 'Test1', Test2', and 'Test3'. See 'Customizing a DataFrame's Indices with the index Attribute subsection. 
2.	As we did in Part 1, we can request grades by key using the text attribute (square brackets with single quoted text strings). Find Eva's grades with grades['Eva'] 
3.	If no spaces in the key, we can use the simpler dot attribute approach. Find Sam's grades with grades.Sam as shown in 'Accessing a DataFrame's columns' subsection.

Customize the index

In [68]:
grades.index = ['Test1', 'Test2', 'Test3']
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Find Eva's grade

In [69]:
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

Find Sam's grades using dot attribute approach

In [70]:
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

## Task 3 - Accessing Rows (loc, iloc)

1.	Like spreadsheets, we can access specific rows or columns.
2.	We use loc['ColA'] and iloc[i]  to access rows by name and index, respectively.
3.	Execute the examples using loc['Test1'] to get scores for the first exam, or iLoc[0] to get scores for the first exam and iLoc[1] to get scores for the second exam. Which do you prefer? 
4.	We can also get slices of rows, e.g., from ['Test1':'Test3'], inclusive, or, using index values, from [0:2], inclusive.

Get scores for the first exam using loc

Using loc is the preferred approach.

In [71]:
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

Get scores for the first exam using iloc

In [72]:
grades.iloc[0]

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

Get scores for the second exam using loc

In [73]:
grades.iloc[1]

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64

Get scores from Test 1 to Test 2 u

In [74]:
grades.loc['Test1':'Test3']

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Get scores from using index values

In [75]:
grades.iloc[0:3]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

## Task 3 - Accessing Subsets (at, iat)

1.	We can use similar notation to get a single cell in the DataFrame (much like getting a single cell in a spreadsheet). 
2.	Use grades.at['Test2', 'Eva'} to find her score on the second exam using labels.
3.	Use grades.iat[2,0] to get the score on the third exam for the first student (Wally), using indices.

Get Eva's score on the second exam using labels

In [78]:
grades.at['Test2', 'Eva']

87

Get the first student's score on the third exam using indices

In [80]:
grades.iat[2, 0]

70

## Task 2 - Series from Dictionary

1.	Follow the instructions in the "Dictionary Initializers' subsection to modify your code to initialize grades with a dictionary (a set of key-value pairs instead) - we'll use the student name as the key  and their exam score as the value. 
2.	Get Eva's score by calling grades['Eva']
3.	Get Wally's score using the easier dot notation: grades.Wally.  This is much more common and can be used as long as there are NO spaces in the key text.  If there are spaces, you'll have to use the approach we used for Eva above - wrapping the key in single quotes. 
4.	Use the Series values attribute to display the array of values. 
5.	Complete the self-check on Page 266. 
6.	We can use a Series whenever our values are a simple one-dimensional array.  
7.	Make sure the notebook is nicely formatted with a heading and sections in Markdown clearly dividing the work.

Initialize grades with a dictionary

In [21]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

Get Eva's score

In [22]:
grades['Eva']

100

Get Wally's score

In [23]:
grades.Wally

87

Display array of values

In [24]:
grades.values

array([ 87, 100,  94])

### Self-check
(IPYTHON SESSION) Use the NumPy’s random-number generation to create an array of five random integers that represent summertime temperatures in the range 60–100, then perform the following tasks:

Convert the array into the Series named temperatures and display it.

Determine the lowest, highest and average temperatures.

Produce descriptive statistics for the Series.

Create array of summertime temperatures between 60 and 100

In [25]:
import numpy as np

st = np.random.randint(60, 100, 11)
st

array([64, 98, 69, 75, 88, 80, 73, 99, 67, 67, 94])

Change the array to Series

In [26]:
temperatures = pd.Series(st)

temperatures

0     64
1     98
2     69
3     75
4     88
5     80
6     73
7     99
8     67
9     67
10    94
dtype: int64

Show the lowest temperature

In [27]:
temperatures.min()

64

Show the highest temperature

In [28]:
temperatures.max()

99

Show the average temperature

In [29]:
temperatures.mean()

79.45454545454545

Describe the temperatures

In [30]:
temperatures.describe()

count    11.000000
mean     79.454545
std      13.155711
min      64.000000
25%      68.000000
50%      75.000000
75%      91.000000
max      99.000000
dtype: float64