# Helen Hammond's Module 4 Project

## Task 1 - Series

1.	We'll look at using a one-dimensional pandas Series to hold and process simple exam data.
2.	Follow the instructions in 7.14 to import the pandas module (as pd).
3.	Create a pandas Series named grades from a list of integers (exam scores).
4.	Get the value of the first grade with grades[0].
5.	Call the built in Series functions: count(), mean(), min(), max(), std(), and describe().

Import pandas module

In [227]:
import pandas as pd

Create a pandas Series named grades and display it

In [228]:
grades = pd.Series([75, 84, 97])
grades

0    75
1    84
2    97
dtype: int64

Get the first grade

In [229]:
grades[0]

75

Count the items in the Series

In [230]:
grades.count()

3

Calculate the mean

In [231]:
grades.mean()

85.33333333333333

Find the lowers grade

In [232]:
grades.min()

75

Show the highest grade

In [233]:
grades.max()

97

Determine the standard deviation

In [234]:
grades.std()

11.06044001535804

Descriptive analysis of the grades

In [235]:
grades.describe()

count     3.000000
mean     85.333333
std      11.060440
min      75.000000
25%      79.500000
50%      84.000000
75%      90.500000
max      97.000000
dtype: float64

## Task 2 - Series from Dictionary

1.	Follow the instructions in the "Dictionary Initializers' subsection to modify your code to initialize grades with a dictionary (a set of key-value pairs instead) - we'll use the student name as the key  and their exam score as the value. 
2.	Get Eva's score by calling grades['Eva']
3.	Get Wally's score using the easier dot notation: grades.Wally.  This is much more common and can be used as long as there are NO spaces in the key text.  If there are spaces, you'll have to use the approach we used for Eva above - wrapping the key in single quotes. 
4.	Use the Series values attribute to display the array of values. 
5.	Complete the self-check on Page 266. 
6.	We can use a Series whenever our values are a simple one-dimensional array.  
7.	Make sure the notebook is nicely formatted with a heading and sections in Markdown clearly dividing the work.

Initialize grades with a dictionary

In [236]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

Get Eva's score

In [237]:
grades['Eva']

100

Get Wally's score

In [238]:
grades.Wally

87

Display array of values

In [239]:
grades.values

array([ 87, 100,  94])

### Self-check
(IPYTHON SESSION) Use the NumPy’s random-number generation to create an array of five random integers that represent summertime temperatures in the range 60–100, then perform the following tasks:

Convert the array into the Series named temperatures and display it.

Determine the lowest, highest and average temperatures.

Produce descriptive statistics for the Series.

Create array of summertime temperatures between 60 and 100

In [240]:
import numpy as np

st = np.random.randint(60, 100, 11)
st

array([95, 87, 99, 79, 60, 81, 74, 90, 66, 67, 78])

Change the array to Series

In [241]:
temperatures = pd.Series(st)

temperatures

0     95
1     87
2     99
3     79
4     60
5     81
6     74
7     90
8     66
9     67
10    78
dtype: int64

Show the lowest temperature

In [242]:
temperatures.min()

60

Show the highest temperature

In [243]:
temperatures.max()

99

Show the average temperature

In [244]:
temperatures.mean()

79.63636363636364

Describe the temperatures

In [245]:
temperatures.describe()

count    11.000000
mean     79.636364
std      12.411871
min      60.000000
25%      70.500000
50%      79.000000
75%      88.500000
max      99.000000
dtype: float64