# Helen Hammond's Module 4 Project
### Date: Feb 16 2023

# Optional Task 5 (Bonus)

## Pandas, Regular Expressions and Data Munging

1.	Raw data is rarely ready for use.
2.	Data preparation can be about 75% (or more) of our work.
3.	Work through Ch 8.13 to get an idea of wrangling (cleaning & transforming) data.
4.	On your machine, in your repo, create an additional notebook named xtra_p4.ipynb.
5.	Start by creating the list of contacts in "Reformatting your Data" on page 310.
6.	Create a DataFrame. 
7.	The phone numbers are not formatted.
8.	Follow the text to create a function that uses regular expressions (usually abbreviated regex or re) to create a function to get a formatted version of the unformatted phone number. 
9.	Use map() and your function to improve the DataFrame 
10.	Verify phone numbers now appear with two dashes (e.g., 555-555-5555). 
11.	Prepare your notebook with a nice header (include a title, your name, and date)
12.	Clearly label your steps and result. 
13.	Execute the entire notebook, export it to xtra_p4.html.
14.	Commit and push both files into your GitHub repo.

Import pandas module

In [1]:
import pandas as pd

Create and display a list of contacts

In [2]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contacts

[['Mike Green', 'demo1@deitel.com', '5555555555'],
 ['Sue Brown', 'demo2@deitel.com', '5555551234']]

Create and display a DataFrame from the contacts

In [3]:
conctacts_frame = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])
conctacts_frame

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

Import regular expression module

In [4]:
import re

Create a formating function that uses regex for the phone numbers.

In [5]:
def get_formatted_number(unformatted_value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', unformatted_value)
    return '-'.join(result.groups()) if result else unformatted_value

The function above takes in the unformatted phone numbers.  
The numbers are matched into groups of 3, 3 and 4 digits. _groups(_)  
The positive result is concatenated seperated by hyphen and returned. _join()_  
Â If the result doesn't exist, the original value is returned.

Format the numbers in the DataFrame using map()

In [6]:
conctacts_frame['Phone'] = conctacts_frame['Phone'].map(get_formatted_number)

Verify the formatting

In [7]:
conctacts_frame

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234