# Helen Hammond's Module 4 Project

# Task 2

1. See the text Ch 7.14.2.
2. For more complex data, we can use a DataFrame. In a DataFrame, each value is a Series of numbers.
3. We can use a two-dimensional DataFrame to handle many  exam scores for each key/student.
4. Create a new notebook to practice using DataFrames.
5. Name the notebook yourname_2.ipynb.
6. Use your Markdown skills to add a customized title to your notebook. 
7. Use Markdown heading for each section below.

## Task 1 - Create DataFrame

1. Follow the instructions in 7.14.2 to import pandas as pd and create a pandas DataFrame from a dictionary (a set of key-value pairs) holding multiple exam scores for each key/student. In this example, we have 5 students, each with 3 exam scores, but the scores aren't labeled.

Import pandas module

In [1]:
import pandas as pd

Create a pandas DataFrame from a dictionary

In [2]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90], 'Sam': [94, 77, 90], 'Katie': [100, 81, 82],'Bob': [83, 65, 85]}

Display the grades

In [3]:
grades = pd.DataFrame(grades_dict)
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

## Task 2 - Custom Index

1.	Follow the instructions to apply a custom index (instead of 0,1,2), let's call them 'Test1', Test2', and 'Test3'. See 'Customizing a DataFrame's Indices with the index Attribute subsection. 
2.	As we did in Part 1, we can request grades by key using the text attribute (square brackets with single quoted text strings). Find Eva's grades with grades['Eva'] 
3.	If no spaces in the key, we can use the simpler dot attribute approach. Find Sam's grades with grades.Sam as shown in 'Accessing a DataFrame's columns' subsection.

Customize the index

In [4]:
grades.index = ['Test1', 'Test2', 'Test3']
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Find Eva's grade

In [5]:
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

Find Sam's grades using dot attribute approach

In [6]:
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

## Task 3 - Accessing Rows (loc, iloc)

1.	Like spreadsheets, we can access specific rows or columns.
2.	We use loc['ColA'] and iloc[i]  to access rows by name and index, respectively.
3.	Execute the examples using loc['Test1'] to get scores for the first exam, or iLoc[0] to get scores for the first exam and iLoc[1] to get scores for the second exam. Which do you prefer? 
4.	We can also get slices of rows, e.g., from ['Test1':'Test3'], inclusive, or, using index values, from [0:2], inclusive.

Get scores for the first exam using loc

Using loc is the preferred approach.

In [7]:
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

Get scores for the first exam using iloc

In [8]:
grades.iloc[0]

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

Get scores for the second exam using loc

In [9]:
grades.iloc[1]

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64

Get scores from Test 1 to Test 2 u

In [10]:
grades.loc['Test1':'Test3']

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Get scores from using index values

In [11]:
grades.iloc[0:3]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

## Task 3 - Accessing Subsets (at, iat)

1.	We can use similar notation to get a single cell in the DataFrame (much like getting a single cell in a spreadsheet). 
2.	Use grades.at['Test2', 'Eva'} to find her score on the second exam using labels.
3.	Use grades.iat[2,0] to get the score on the third exam for the first student (Wally), using indices.

Get Eva's score on the second exam using labels

In [12]:
grades.at['Test2', 'Eva']

87

Get the first student's score on the third exam using indices

In [13]:
grades.iat[2, 0]

70

## Task 4. Describe (By Column)

1.	Use grades.describe() to get descriptive statistics for our gradebook columns.
2.	See why learning Python and DataFrames can be so powerful?  
3.	Try to set the precision using the pd.set_option('precision',2) provided.
4.	Does it work? Libraries are evolving. If you get an error, copy the error text and do a web search.
5.	Can you find something about a newer option using "display.precision"?
6.	If so, try pd.set_option("display.precision",2).
7.	Being able to debug evolving features on your own is important for success.
8.	Our field, languages, and libraries are constantly evolving.

Get descriptive statistics for the grades

In [14]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   92.333333  87.000000   87.666667  77.666667
std    13.203535    6.806859   8.888194   10.692677  11.015141
min    70.000000   87.000000  77.000000   81.000000  65.000000
25%    78.500000   88.500000  83.500000   81.500000  74.000000
50%    87.000000   90.000000  90.000000   82.000000  83.000000
75%    91.500000   95.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

Set precision to 2

In [15]:
pd.options.display.precision = 2

grades.mean()

Wally    84.33
Eva      92.33
Sam      87.00
Katie    87.67
Bob      77.67
dtype: float64

## Task 5. Transpose (rows <--> columns)

1.	Get the average for each column by calling grades.mean()
2.	Transpose the DataFrame using the T attribute.
3.	Get the mean by the new columns with .T.describe()

Average for each column

In [16]:
grades.mean()

Wally    84.33
Eva      92.33
Sam      87.00
Katie    87.67
Bob      77.67
dtype: float64

Transpose the DataFrame

In [17]:
grades.T

       Test1  Test2  Test3
Wally     87     96     70
Eva      100     87     90
Sam       94     77     90
Katie    100     81     82
Bob       83     65     85

Get the descriptive analysis by the new columns

In [18]:
grades.T.describe()

        Test1  Test2  Test3
count    5.00   5.00   5.00
mean    92.80  81.20  83.40
std      7.66  11.54   8.23
min     83.00  65.00  70.00
25%     87.00  77.00  82.00
50%     94.00  81.00  85.00
75%    100.00  87.00  90.00
max    100.00  96.00  90.00

Get the mean by the new columns

In [19]:
grades.T.mean()

Test1    92.8
Test2    81.2
Test3    83.4
dtype: float64

## Task 6. Sort

1.	Sort the gradebook rows in reverse order so the most recent exam row appears at the top with grades.sort_index(ascending=False)
2.	Sort the gradebook columns so the names appear in order using grades.sort_index(axis=1).
3.	We can sort our data pretty much however we like.

Sort the gradebook rows in reverse order

In [20]:
grades.sort_index(ascending=False)

       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83

Sort the gradebook columns

In [21]:
grades.sort_index(axis=1)

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     82   90     70